<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.eaglesakura.armyknife.livedata">

    <application>
        <activity
            android:name="com.eaglesakura.armyknife.lifecycle.ActivityExtensionKtTestActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
    </application>
</manifest>
